<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MTPSocial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE257DD01C421BD900A990B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE257DE91C421BD900A990B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE257DF41C421BDA00A990B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
